.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #00ccff;
  padding: 20px 20px 20px 50px;
  border-bottom: 2px solid gray;
}
.header__title {
  font-size: 2em;
  color: white;
  text-transform: uppercase;
}

.header nav {
  color: white;
  display: flex;
  justify-content: space-between;
  width: 30%;
}
.header nav span {
  font-weight: bold;
  color: white; 
  text-transform: uppercase;
  border: 1px solid white;
  transition: 0.5s;
}
.header nav span:hover {
  background-color: white;
  color: #00ccff;
}