.movieDetail {
  display: flex;
  padding-top: 100px;
}
.movieDetail__details {
  margin-left: 50px;
  color: white;
}
.movieDetail .details__header .header__title {
  margin-bottom: 30px;
}


.movieDetail .details__header {
  display: flex;
  justify-content: space-between;
}

.movieDetail .details__description {
  margin: 30px auto;
}
.movieDetail .details__backhome {
  font-weight: bold;
  background-color: white;
  color: #00ccff;
}
.movieDetail .details__bookmark {
  font-weight: bold;
  color: white;
  background-color: #00ccff;
  transition: 0.5s;
}
.movieDetail .details__bookmark:hover,
.movieDetail .details__bookmark.bookmarked {
  font-weight: bold;
  background-color: white;
  color: #00ccff;
}
